<!-- Start jumbotron -->
<div class="jumbotron "  style="background-color: white; color: black">
        <!-- Start container -->
<div class="container">
<div class="row">
    <div class="col-xs-12">
        <blockquote class="blockquote">
            <footer class="blockquote-footer"><cite>Titre du spot :</cite></footer>
          <h2>{{ spot.titleSpot }}</h2>
          </blockquote>

          <blockquote class="blockquote">
              <footer class="blockquote-footer"><cite>Descritpion du spot :</cite></footer>    
              <h4>{{ spot.description }}</h4>
          </blockquote>

          <blockquote class="blockquote">
              <footer class="blockquote-footer"><cite>Type du spot :</cite></footer>    
              <h4>{{ spot.typeSpot }}</h4>
          </blockquote>

          <blockquote class="blockquote">
              <footer class="blockquote-footer"><cite>Coordonnées du spot :</cite></footer>    
              <h4>Latitude : {{ spot.latitude }}</h4>
              <h4>Longitude : {{ spot.longitude }}</h4>
          </blockquote>

          <blockquote class="blockquote">
              <footer class="blockquote-footer"><cite >Emplacement sur la carte :</cite></footer> 
              <agm-map [latitude]="lat" [longitude]="lng">
                  <agm-marker  [iconUrl]="'assets/marker_your_location.png'" [latitude]="lat" [longitude]="lng"></agm-marker>
                  <agm-marker [latitude]="spot.latitude" [longitude]="spot.longitude"></agm-marker>
              </agm-map> 
              <footer class="blockquote-footer">
                  L'îcone <img src="assets/marker_your_location_little.png" alt=""> représente votre emplacement !
              </footer>
          </blockquote>

          <blockquote class="blockquote">
              <footer class="blockquote-footer"><cite>Photo du lieu :</cite></footer> 
              <div *ngFor="let photo of spot.photos">
                <img src={{photo}} style="max-width:400px;"  onclick="window.open(this.src,'_blank','toolbar=0, location=0, directories=0, status=0, scrollbars=0, resizable=0, copyhistory=0, menuBar=0, width='+this.width+', height='+this.height);" />
             </div>
        </blockquote>

        <blockquote class="blockquote">
                <footer class="blockquote-footer"><cite>Spot proposé par :</cite></footer> 
                <div>
                    {{spot.author}}
                </div>
          </blockquote>
      <button class="btn btn-default" (click)="onBack()">Retour</button>
    </div>
  </div>
</div>
</div>
