<nav class="navbar navbar-default">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="home">Home</a></li>
        <li routerLinkActive="active" *ngIf="isAuth"><a routerLink="createactivity">Proposez un spot</a></li>
        <li routerLinkActive="active" *ngIf="isAuth"><a routerLink="showactivity">Voir les spots</a></li>
        <li routerLinkActive="active"><a routerLink="aboutus">A propos de nous</a></li>
      </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="signup">Créer un compte</a>
      </li>
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="authentification">Connexion</a>
      </li>
      <li>
        <a (click)="onSignOut()"
           style="cursor:pointer; background-color: orange; color: white"
           *ngIf="isAuth">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>