
  
  .facebook,
  .twitter,
  .youtube,
  .pinterest,
  .instagram,
  .tumblr{
    display: inline-block;
    margin: 10px;
    transition: 1s;
    border-radius:5px;
  }
  
  .fa-facebook,
  .fa-twitter,
  .fa-youtube,
  .fa-pinterest-p,
  .fa-instagram,
  .fa-tumblr{
    padding: 10px;
    width: 80px;
    text-align: center;
    color: white;
  }
  
  .youtube:hover,
  .facebook:hover,
  .twitter:hover,
  .pinterest:hover,
  .instagram:hover,
  .tumblr:hover{
    transform: scale(1.1, 1.1);
  }
  
  
  /*Colors*/
  
  .pinterest {
    background-color: #BD081C;
  }
  
  .facebook {
    background-color: #3b5998;
  }
  
  .twitter {
    background-color: #5EA9DD;
  }
  
  .youtube {
    background-color: #E62117;
  }
  
  .instagram {
    background: linear-gradient(60deg, #F9C556, #F97621, #EA484C, #D72F78, #A93AB5, #5B62D1);
  }
  
  .tumblr{
    background-color:#395976;
  }

