     <br>
     <div class="container">
         <div class="row justify-content-center">
            <div class="col=12 mt-3">
                <div class="jumbotron "  style="background-color: white; color: black">
                  <h2 class="display-4">A propos de nous</h2>
                  <p class="lead">L'îdée de créer ShareYourSpot naît d'une idée entre amis. 
                      Aimant l'aventure et les coins un peu caché pour nous avons décidé de créer un site permettant de partager cette passion.
                    Que ce soit pour chillé, la pêche, le canoe ou simplement la marche. 
                    </p>
                  <hr class="my-4">
                  <p>L'application est complétement gratuite d'utilisation, cependant celle-ci nécessite un entretien et un temps de développement considérable sur notre temps personnel.
                      Pour cela nous avons ouvert une platforme de don, afin que vous puissiez nous aidez si cela vous donnes envie ! 
                      L'équipe vous remercie d'être venu sur ShareYourSpot et de l'utilisé !  
                  </p>
                  <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button" style="background-color: black; color: white; border: black">Faire un don</a>
                  </p>
            </div>
         </div>
        </div>
     </div>
