<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenue sur {{ title }}
  </h1>
  <h5><i>{{ description }}</i></h5>
</div>
  <app-header></app-header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<footer class="footer">
  <div class="footer">
    <p style="color: #70726F; text-align: center">Rejoint-nous sur les réseaux et suis l'actualité :</p> 
  <div class="container text-center">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="#"><i class="fa fa-skype"></i></a>
  </div>
<br>
  <p style="color: #70726F; text-align: center">© 2018 Copyright: Site développé par Rodrigues Kentin</p> 
</div>
</footer>