<div class="container">
  <header class="page-header">
    <h3>Voir les spots</h3>
  </header>
  <br>
  <p><i>Ici vous retrouvez tous les spots qui ont été rentrer par les utilisateurs.
    Il est possible de cliquer sur les marqueur, afin d'obtenir plus de précision concernant le spot.
  </i></p>
</div>
<div class="container">
    <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [iconUrl]="'assets/marker_your_location.png'" [latitude]="lat" [longitude]="lng"></agm-marker>
        <agm-marker *ngFor="let spot of spots" [latitude]="spot.latitude" [longitude]="spot.longitude"></agm-marker>
    </agm-map>
</div>
<div class="container">
  <p>
    L'îcone <img src="assets/marker_your_location.png" alt=""> représente votre emplacement !
  </p>
</div>