<div class="intro-wrapper">
    <img id="home-image" src="../../assets/home.jpg" style="width: 100%">
  </div>
  <div class="main-container" style="text-align: left">
    <h2>ShareYourSpot</h2>
    <p>
        ShareYourSpot est un site permettant de partager les meilleurs coins que vous connaissez. 
        Dans tous domaines et plusieurs activités telles que le canoé, la pêche, de belle crique ou tout simplement un endroit qui vous semble paisible et beau de partager avec nous. 
        Tous cela gratuitement. Il est possible de voir les spots postés par notre communauté, pour ça il suffit de vous inscrire <a routerLink="signup">ici</a>.
    </p>
  </div>

<br>
<br>
    <!-- Socials networks button 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>


<div class='container'>
  <h3>Suis nous sur les réseaux sociaux !</h3>
  <div class='facebook'>
    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
  </a>
  </div>

  <div class="twitter">
    <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
  </div>

  <div class="youtube">
    <a href="https://youtube.com/" target="_blank"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></a>
  </div>

  <div class="pinterest">
    <a href="https://www.pinterest.com/" target="_blank">
      <i class="fa fa-pinterest-p fa-3x" aria-hidden="true"></i>
    </a>
  </div>

  <div class="instagram">
    <a href="https://www.instagram.com/" target="_blank"> 
      <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
    </a>
  </div>
  
   <div class="tumblr">
    <a href="https://www.tumblr.com/" target="_blank">
      <i class="fa fa-tumblr fa-3x" aria-hidden="true"></i>
    </a>
  </div>
</div>
-->

